*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

:root {
  --color-main: #272a31;
  --color-accent: #ec5242;
  --color-gray: #d3d3d3;
  --color-medium-gray: #8b8b8b;
  --color-dark-gray: #3e3e3e;
}

/* Nav Bar  */

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navigation {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  max-width: 1240px;
  margin: auto;
}

.logo {
  width: 15rem;
}

.menu {
  cursor: pointer;
  width: 3rem;
  padding: 2rem 0;
}

.collapsible {
  width: 100%;
  padding: 4rem 4rem;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  overflow: hidden;
}

.mobile-nav {
  margin-top: 3rem;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.close-btn {
  cursor: pointer;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style-type: none;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.nav-links {
  color: var(--color-medium-gray);
  text-decoration: none;
  transition: all 0.3s ease;
}

.active-page {
  color: var(--color-accent);
}

.nav-item :hover {
  color: var(--color-accent);
}

.ATF-Campaign {
  padding: 1rem 2rem;
  border: 4px solid var(--color-accent);
}

.ATF-Campaign:hover {
  background-color: var(--color-accent);
  color: #fff;
}

/* Heading  */

.heading {
  width: 100%;
  background-image: url('../images/main_big.png');
  background-repeat: repeat-x;
  background-position: center center;
  padding: 5rem 0;
}

.heading-holder {
  margin: auto;
  padding: 0 2rem;
  max-width: 1240px;
}

.title_message {
  color: var(--color-accent);
  font-size: 1.8rem;
}

.heading-title {
  max-width: 100rem;
  font-size: 7rem;
  font-weight: bolder;
  background-image: url(../images/heading-text.jpg);
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-description {
  font-size: 1.5rem;
  font-weight: 500;
  border: 5px solid #fff;
  background-color: #f7f7f7;
  padding: 1.3rem;
  max-width: 63rem;
}

.heading-date {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-dark-gray);
}

.heading-place {
  font-size: 1.5rem;
  color: var(--color-dark-gray);
}

@media screen and (min-width: 768px) {
  .heading {
    padding: 12rem 0;
  }

  .title_message {
    font-size: 3rem;
  }

  .heading-title {
    font-size: 12rem;
  }

  .heading-description {
    font-size: 2rem;
  }

  .heading-date {
    font-size: 3.6rem;
  }

  .heading-place {
    font-size: 2.4rem;
  }
}

/* Main Program  */
.main-program {
  width: 100%;
  padding: 6rem 1.5rem;
  background-color: rgb(39, 42, 50);
  background-image: url(../images/pattern_bg.png);
  background-repeat: repeat;
}

.main-program-section-title {
  font-size: 2.4rem;
  color: #fff;
}

.main-program-holder {
  max-width: 124rem;
  padding: 0 1rem;
}

.orange-underline {
  width: 4rem;
  border: 0.1rem solid var(--color-accent);
  opacity: 1;
}

.programs-holder {
  margin: 3rem 0;
}

.program {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.program-title {
  font-size: 1.4rem;
  color: var(--color-accent);
}

.program-description {
  color: #fff;
  font-size: 1.2rem;
}

.see-whole-program {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .programs-holder {
    margin: 6rem 0;
  }

  .main-program-section-title {
    font-size: 3rem;
  }

  .program {
    padding: 2rem;
  }

  .program-title {
    font-size: 2.4rem;
  }

  .program-description {
    font-size: 1.4rem;
  }

  .see-whole-program {
    font-size: 2rem;
  }
}